<center>
<h2> Its a hit! </h2>
<%= @game.attacker.name %> attacked <%= @game.opponent.name %>



<p> <%= @game.opponent.name %>: <%= @game.opponent.hit_points %>HP </p>

<div id='return_button'>
  <form action='/swap_turn' method='get'>
    <input type='submit' value='OK'>
  </form>
</div>
</center>
