<h1> GET READY TO BATTLE!</h1>

<%= @player_1_name %> vs. <%= @player_2_name %>

<h2> Hp points:</h2>

<p><%= @player_2_name %>:100HP
<p><%= @player_1_name %>:60HP

<!-- <h2><a href="/attack">Attack</a></h2> -->

<!-- <a href="/attack"> -->
<!-- <div>
  <img src='http://png.clipart.me/graphics/thumbs/116/angry-bull-on-white-background-vector-illustration_116459821.jpg'
</div> -->
<!-- <h2> Click Pikachu to Attack</h2> -->
<a href="/attack"><h2> Click Pikachu to Attack</h2><img src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcShyxQ7u65ykZWXSI5WrYl7XphaIXZg2vJw6XMivkityfg6z_lQ' title=“ATTACK!" width="300" height="200" /></a>
